@charset "UTF-8";
＊ {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
}

body {
  background: #fff;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  font-size: 14px;
}

a {
  color: #2767B2;
  font-weight: 700;
}

p {
  font-size: 16px;
  text-align: justify;
  line-height: 28px;
  word-wrap: break-word;
}

.normal-contain {
  width: 100%;
}

.back-to-top {
  width: 117px;
  height: 40px;
  background-color: #D9D9D9;
  font-size: 16px;
  font-weight: 700;
  border: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .ham {
  display: none;
}
nav .nav-left {
  width: 520px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-left .nav-left-ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav .nav-left .nav-left-ul li {
  line-height: 60px;
}
nav .nav-right {
  width: 360px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-right li {
  height: 100%;
  line-height: 60px;
  display: flex;
  align-items: center;
}
nav .nav-right li span {
  margin-right: 5px;
}

@media screen and (max-width: 1400px) {
  nav .nav-right {
    justify-content: flex-end;
  }
  nav .nav-right li {
    margin-right: 10px;
  }
  nav .nav-right li .nav-right-hide-txt {
    display: none;
  }
}
@media screen and (max-width: 860px) {
  nav {
    display: flex;
    justify-content: center;
  }
  nav .ham {
    display: block;
    flex: 1;
  }
  nav .ham .ham-btn .ham-btn-box {
    width: 50px;
    height: 50px;
    display: block;
    position: relative;
  }
  nav .ham .ham-btn .ham-btn-box .ham-line .line {
    width: 20px;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  nav .ham .ham-btn .ham-btn-box .ham-line .line-1 {
    top: 35%;
  }
  nav .ham .ham-btn .ham-btn-box .ham-line .line-2 {
    top: 50%;
  }
  nav .ham .ham-btn .ham-btn-box .ham-line .line-3 {
    top: 65%;
  }
  nav .ham .ham-btn #ham-menu-switch:checked + .ham-btn-box .ham-line .line-1 {
    top: 50%;
    transform: translate(-50%) rotate(45deg);
  }
  nav .ham .ham-btn #ham-menu-switch:checked + .ham-btn-box .ham-line .line-2 {
    display: none;
  }
  nav .ham .ham-btn #ham-menu-switch:checked + .ham-btn-box .ham-line .line-3 {
    top: 50%;
    transform: translate(-50%) rotate(-45deg);
  }
  nav .ham .ham-btn .ham-menu {
    display: none;
    width: 90%;
    background-color: #f4f4f4;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 99;
    padding: 0 5%;
  }
  nav .ham .ham-btn .ham-menu .ham-menu-list {
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    line-height: 55px;
  }
  nav .ham .ham-btn .ham-menu .ham-menu-list .ham-menu-list-dropdown {
    display: none;
  }
  nav .ham .ham-btn .ham-menu .ham-menu-list .ham-menu-list-dropdown .ham-menu-list-dropdown-list {
    width: 90%;
    height: 55px;
    padding: 0 5%;
    border-bottom: 1px solid #e6e6e6;
    line-height: 55px;
  }
  nav .ham .ham-btn .ham-menu .ham-menu-list .ham-menu-list-label {
    width: 100%;
  }
  nav .ham .ham-btn .ham-menu .ham-menu-list .ham-menu-list-label .fa-caret-up {
    display: none;
  }
  nav .ham .ham-btn .ham-menu .ham-menu-list .any-ham-btn:checked ~ .ham-menu-list-dropdown {
    display: block;
  }
  nav .ham .ham-btn .ham-menu .any-ham-btn:checked + .ham-menu-list-label .fa-caret-down {
    display: none;
  }
  nav .ham .ham-btn .ham-menu .any-ham-btn:checked + .ham-menu-list-label .fa-caret-up {
    display: inline-block;
  }
  nav .ham .ham-btn #ham-menu-switch:checked ~ .ham-menu {
    display: block;
  }
  nav .mobile-hidden {
    display: none;
  }
  nav .search {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  nav .logo {
    width: 100%;
    flex: 8;
    display: flex;
    justify-content: center;
  }
  nav .nav-right {
    width: 100px;
    flex: 2;
    justify-content: space-around;
  }
  nav .nav-right .mobile-hidden {
    display: none;
  }
}
header {
  width: 100%;
  height: 659px;
}
header .banner {
  width: 100%;
  height: 591px;
  position: relative;
}
header .banner .banner-box {
  width: 100%;
  height: 100%;
}
header .banner .banner-box picture {
  position: absolute;
}
header .banner .banner-box picture .banner-picture {
  width: 100%;
}
header .banner .banner-box .banner-content {
  width: calc(100% - 140px);
  height: 250px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 70px;
}
header .banner .banner-box .banner-content .banner-content-box {
  width: 478px;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
header .banner .banner-box .banner-content .banner-content-box h1 {
  margin: 0;
}
header .banner .banner-box .banner-content .banner-content-box button {
  width: 92px;
  height: 40px;
  background-color: #2767B2;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
header .banner .banner-box .banner-content-2 {
  width: calc(100% - 140px);
  height: 250px;
  display: flex;
  justify-content: flex-start;
  padding: 0 70px;
}

@media screen and (max-width: 1080px) {
  header .banner .banner-box picture {
    top: 0;
  }
  header .banner .banner-box .banner-content {
    width: 80%;
    background-color: #fff;
    box-shadow: 0 0 5px 2px #bdbdbd;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 90%;
    padding: 0 10%;
  }
}
@media screen and (max-width: 540px) {
  header .banner {
    height: 490px;
  }
}
main {
  width: 90%;
  padding: 0 5%;
}
main h1 {
  width: 100%;
  max-width: 1600px;
  margin: 10px auto;
}
main .choose-function {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
}
main .choose-function ul {
  width: 100%;
  max-width: 520px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
main .choose-function ul li {
  width: calc((100% - 20px) / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .choose-function ul li img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
main .four-pictures {
  width: 100%;
  height: 470px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
main .four-pictures .four-pictures-content {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: space-around;
}
main .four-pictures .four-pictures-content .news-box {
  width: calc((100% - 75px) / 4);
  height: 100%;
}
main .four-pictures .four-pictures-content .news-box img {
  width: 100%;
}
main .big-picture {
  width: 100%;
  height: 600px;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}
main .big-picture .big-picture-background {
  width: 90%;
  height: 270px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 5%;
}
main .big-picture .big-picture-background .big-picture-content {
  width: calc(480px - 6rem);
  height: calc(270px - 6rem);
  background-color: #fff;
  position: absolute;
  padding: 3rem;
}
main .big-picture .big-picture-background .big-picture-content h1 {
  margin: 0;
}
main .big-picture .big-picture-background .big-picture-content button {
  width: 92px;
  height: 40px;
  background-color: #2767B2;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
main .follow-us {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 32px;
}

@media screen and (max-width: 1080px) {
  main .four-pictures {
    height: 1040px;
  }
  main .four-pictures .four-pictures-content {
    height: 100%;
    max-height: 500px;
    flex-wrap: wrap;
  }
  main .four-pictures .four-pictures-content .news-box {
    width: calc((100% - 25px) / 2);
  }
}
@media screen and (max-width: 850px) {
  main .big-picture {
    height: 548px;
    align-items: flex-start;
  }
  main .big-picture picture {
    height: 540px;
  }
  main .big-picture .big-picture-background {
    width: 100%;
    height: 273px;
    top: 50%;
    transform: translateY(0%);
  }
  main .big-picture .big-picture-background .big-picture-content {
    padding: 3rem 0;
  }
}
@media screen and (max-width: 540px) {
  main .four-pictures {
    height: 1950px;
  }
  main .four-pictures .four-pictures-content .news-box {
    width: 100%;
  }
}
footer {
  width: 100%;
  height: 420px;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
footer .footer-menu {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
}
footer .footer-menu .footer-menu-content {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: center;
}
footer .footer-menu .footer-menu-content .footer-menu-content-box {
  width: calc((100% - 100px) / 6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .footer-menu .footer-menu-content .footer-menu-content-box h6 {
  margin: 25px 0 4px 0;
  font-weight: 700;
  font-size: 15px;
}
footer .footer-menu .footer-menu-content .footer-menu-content-box li {
  margin: 8px 0;
  font-size: 11px;
}
footer .footer-copyright {
  width: 100%;
  height: calc(100% - 316px);
  display: flex;
  justify-content: center;
}
footer .footer-copyright .footer-copyright-content {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-copyright .footer-copyright-content .footer-copyright-content-left {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .footer-copyright .footer-copyright-content .footer-copyright-content-left li {
  margin-right: 15px;
  font-size: 11px;
}
footer .footer-copyright .footer-copyright-content .footer-copyright-content-left li img {
  margin-right: 5px;
}
footer .footer-copyright .footer-copyright-content .footer-copyright-content-right {
  width: 100%;
  height: 100%;
  flex: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .footer-copyright .footer-copyright-content .footer-copyright-content-right li {
  margin-right: 15px;
  font-size: 11px;
}

@media screen and (max-width: 1080px) {
  footer {
    height: 835px;
    justify-content: flex-start;
  }
  footer .footer-menu {
    height: 100%;
  }
  footer .footer-menu .footer-menu-content {
    flex-wrap: wrap;
  }
  footer .footer-menu .footer-menu-content .footer-menu-content-box {
    width: calc((100% - 40px) / 3);
    height: 350px;
  }
  footer .footer-copyright {
    width: calc(100% - 50px);
    padding: 25px;
    height: auto;
  }
  footer .footer-copyright .footer-copyright-content {
    flex-direction: column;
  }
  footer .footer-copyright .footer-copyright-content .footer-copyright-content-left {
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
  }
  footer .footer-copyright .footer-copyright-content .footer-copyright-content-left li {
    margin-top: 10px;
  }
  footer .footer-copyright .footer-copyright-content .footer-copyright-content-right {
    flex: 1;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 15px;
  }
}
@media screen and (max-width: 540px) {
  footer {
    height: 1608px;
  }
  footer .footer-menu .footer-menu-content .footer-menu-content-box {
    width: 100%;
    height: auto;
    display: block;
    float: left;
    padding: 0 25px;
  }
}/*# sourceMappingURL=list.css.map */